body {
  padding: 2em 0em;
  font: normal 16px "Helvetica", sans-serif;
  color: #3e3e3e;
  line-height: 1.5em;
  background-color: #ddd;
}

main {
  margin: 0 auto;
  max-width: 1024px;
  background-color: #fff;
  padding: 2em;
}

a,
a:visited {
  color: #1f33ca;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}